<div class="row">
  <% @title = "BorrowBuddy | Borrower" %>
  <div class="col text-center">
    <h1>Borrower</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Name:</strong> <%= @borrower.name %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Email:</strong> <%= @borrower.email %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Phone:</strong> <%= @borrower.phone %></p>
  </div>
</div>

<div class="nested-loans-info-table">
  <div class="row">
    <div class="col">
      <h2>Loans Info for <%= @borrower.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to 'Create New Loan', new_borrower_loan_path(@borrower) %>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="row">
          <th scope="col" class="col-5">Item</th>
          <th scope="col" class="col-2 text-center">Days Borrowed</th>
          <th scope="col" class="col-2 text-center">Reminders Sent</th>
          <th scope="col" class="col-1 text-center">Returned?</th>
          <th scope="col" class="col-2" colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @borrower.loans.loan_lender_scope(current_lender).each do |loan| %>
          <tr class="row">
            <td class="col-5"><%= link_to loan.item.name_with_category, lender_item_path(current_lender, loan.item) %></td>
            <td class="col-2 text-center"><%= loan.days_borrowed %></td>
            <td class="col-2 text-center"><%= loan.reminders_sent %></td>
            <td class="col-1 text-center"><%= boolean_display(loan.returned) %></td>
            <td class="col-1 text-right table-action-link"><%= link_to 'Edit', edit_lender_loan_path(current_lender, loan) %></td>
            <td class="col-1 text-right table-action-link"><%= link_to 'Delete', lender_loan_path(current_lender, loan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_lender_borrower_path(current_lender, @borrower) %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Back', lender_borrowers_path(current_lender) %>
  </div>
</div>