<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "new-password" %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br><br>

  <%= f.submit "Create Account" %><br><br>
<% end %>

<%= hide_omniauth_signup %><br>

<%= link_to "Log in", new_lender_session_path %><br>
