<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag("bb-white.png", size: "40x40", alt: "Borrow Buddy Logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <% if !!current_lender %>
        <li class="nav-item">
          <a class="nav-link" href="<%= lender_loans_path(current_lender) %>">My Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= lender_items_path(current_lender) %>">My Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= lender_borrowers_path(current_lender) %>">My Borrowers</a>
        </li>
      <% end %>
    </ul>
    <span class="navbar-text" id="nav-right">
      <% if !!current_lender %>
        <%= link_to "Lender Logout", destroy_lender_session_path, method: :delete %>
      <% end %>
    </span>
  </div>
</nav>