<%= form_for([form_top_level, @loan]) do |loan_form| %>

  <%= render partial: "partials/form_errors", locals: { save_error: @loan } %>

  <div class="form-row">
    <div class="form-group col-12">
      <h1 class="form-body-heading">Set the Borrower</h1>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Select a Borrower from Your List</h2>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12">
        <%= loan_form.label "Borrower Name:", for: "loan_borrower_id" %>
        <%= loan_form.collection_select :borrower_id, Borrower.lender_scope(current_lender).abc_name, :id, :name, { include_blank: "Select One" }, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Or Create a New Borrower</h2>
    </div>
  </div>

  <div class="form-section">
    <%= loan_form.fields_for :borrower do |borrower_attributes| %>
      <div class="form-row">
        <div class="form-group col-11">
            <%= borrower_attributes.label "Borrower Name:", class: "offset-1" %>
            <%= borrower_attributes.text_field :name, { class: "form-control offset-1" } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-11">
            <%= borrower_attributes.label "Borrower Email:", class: "offset-1" %>
            <%= borrower_attributes.text_field :email, { class: "form-control offset-1" } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-11">
            <%= borrower_attributes.label "Borrower Phone:", class: "offset-1" %>
            <%= borrower_attributes.text_field :phone, { class: "form-control offset-1" } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h1 class="form-body-heading">Set the Item</h1>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Select an Item from Your List</h2>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12">
        <%= loan_form.label "Item Name:", for: "loan_item_id" %>
        <%= loan_form.collection_select :item_id, Item.lender_scope(current_lender).abc_name, :id, :name_with_category, { include_blank: "Select One" }, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Or Create a New Item</h2>
    </div>
  </div>

  <div class="form-section">
    <%= loan_form.fields_for :item do |item_attributes| %>
      <div class="form-row">
        <div class="form-group col-11">
            <%= item_attributes.label "Item Name:", class: "offset-1" %>
            <%= item_attributes.text_field :name, { class: "form-control offset-1" } %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-11">
            <%= item_attributes.label "Item Category:", class: "offset-1" %>
            <%= item_attributes.text_field :category, { class: "form-control offset-1" } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h1 class="form-body-heading">About this Loan</h1>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12 col-sm-6">
        <%= loan_form.label "Number of Days Borrowed:" %>
        <%= loan_form.number_field :days_borrowed, { class: "form-control" } %>
      </div>
      <div class="form-group col-12 col-sm-6">
        <%= loan_form.label "Number of Reminders Sent:" %>
        <%= loan_form.number_field :reminders_sent, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <%= loan_form.label "Has the loaned item been returned?" %>
        </div>
        <div class="form-check form-check-inline">
          <%= loan_form.radio_button :returned, :true, { class: "form-check-input" } %>
          <%= loan_form.label "Yes", { class: "form-check-label", for: "loan_returned_true" } %>
        </div>
        <div class="form-check form-check-inline">
          <%= loan_form.radio_button :returned, :false, { class: "form-check-input", checked: true } %>
          <%= loan_form.label "No", { class: "form-check-label", for: "loan_returned_false" } %>
        </div>
      </div>
    </div>
  </div>

  <%= loan_form.submit %>
<% end %>
