<%= form_for ([current_lender, @recipient]) do |recipient_form| %>
  <%= render partial: "partials/form_errors", locals: { save_error: @recipient } %>

  <div class="form-section">
    <div class="form-group row">
      <%= recipient_form.label "Name:", { class: "col-2 col-form-label" } %>
      <div class="col">
      <%= recipient_form.text_field :name, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= recipient_form.label "Email:", { class: "col-2 col-form-label" } %>
      <div class="col">
      <%= recipient_form.text_field :email, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= recipient_form.label "Phone:", { class: "col-2 col-form-label" } %>
      <div class="col">
      <%= recipient_form.text_field :phone, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <%= recipient_form.submit %><br><br>
<% end %>
