<%= form_with(model: recipient, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { object: @recipient } %>

      <ul>
        <% recipient.errors.full_messages.each do |message| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
