<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recipient.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @recipient.phone %>
</p>

<%= link_to 'Edit', edit_lender_recipient_path(current_lender, @recipient) %>
<%= link_to 'Back', lender_recipients_path(current_lender) %>
