<h1>Borrower</h1>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recipient.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @recipient.phone %>
</p>

<br>

<h2>Borrows Info for <%= @recipient.name %></h2>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>No. Days Borrowed</th>
      <th>No. Reminders Sent</th>
      <th>Item Returned?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipient.borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.item.name %></td>
        <td><%= borrow.item.category %></td>
        <td><%= borrow.days_borrowed %></td>
        <td><%= borrow.reminders_sent %></td>
        <td><%= boolean_display(borrow.returned) %></td>
        <td><%= link_to 'Show', lender_borrow_path(current_lender, borrow) %></td>
        <td><%= link_to 'Edit', edit_lender_borrow_path(current_lender, borrow) %></td>
        <td><%= link_to 'Destroy', lender_borrow_path(current_lender, borrow), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Borrow', new_recipient_borrow_path(@recipient) %><br>

<%= link_to 'Edit', edit_lender_recipient_path(current_lender, @recipient) %>
<%= link_to 'Back', lender_recipients_path(current_lender) %><br>

<%= link_to 'Home', root_path %>
