<div class="row">
  <% @title = "Borrow Buddy | Recipient" %>
  <div class="col text-center">
    <h1>Recipient</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Name:</strong> <%= @recipient.name %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Email:</strong> <%= @recipient.email %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Phone:</strong> <%= @recipient.phone %></p>
  </div>
</div>

<div class="nested-borrows-info-table">
  <div class="row">
    <div class="col">
      <h2>Borrows Info for <%= @recipient.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to 'Create New Borrow', new_recipient_borrow_path(@recipient) %>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="row">
          <th scope="col" class="col-5">Item</th>
          <th scope="col" class="col-2 text-center">Days Borrowed</th>
          <th scope="col" class="col-2 text-center">Reminders Sent</th>
          <th scope="col" class="col-1 text-center">Returned?</th>
          <th scope="col" class="col-2" colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipient.borrows.each do |borrow| %>
          <tr class="row">
            <td class="col-5"><%= link_to borrow.item.name_with_category, lender_item_path(current_lender, borrow.item) %></td>
            <td class="col-2 text-center"><%= borrow.days_borrowed %></td>
            <td class="col-2 text-center"><%= borrow.reminders_sent %></td>
            <td class="col-1 text-center"><%= boolean_display(borrow.returned) %></td>
            <td class="col-1 text-right table-action-link"><%= link_to 'Edit', edit_lender_borrow_path(current_lender, borrow) %></td>
            <td class="col-1 text-right table-action-link"><%= link_to 'Delete', lender_borrow_path(current_lender, borrow), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_lender_recipient_path(current_lender, @recipient) %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Back', lender_recipients_path(current_lender) %>
  </div>
</div>