<h1>Welcome to BorrowBuddy!</h1>

<h3>Session & Registration Links</h3>
<%= link_to "Lender Login", new_lender_session_path %>
<%= link_to "Lender Logout", destroy_lender_session_path, method: :delete %>
<%= link_to "Create New Lender", new_lender_registration_path %>
<br>
<%= hide_omniauth_login %>

<h2>Links</h2>
<% if !!current_lender %>
  <%= link_to "My Borrows", lender_borrows_path(current_lender) %>
  <%= link_to "My Items", lender_items_path(current_lender) %>
  <%= link_to "My Recipients", lender_recipients_path(current_lender) %>
  <%= link_to "Lender Profile", lender_path(current_lender) %>
<% end %>
