<h1>HOME PAGE</h1>

<h3>Session & Registration Links</h3>
<%= link_to "Lender Login", new_lender_session_path %>
<%= link_to "Lender Logout", destroy_lender_session_path, method: :delete %>
<%= link_to "Create New Lender", new_lender_registration_path %>
<br>
<%= link_to "Lender Login in with Google", lender_google_oauth2_omniauth_authorize_path %>
<br>

<h2>Links</h2>
<% if !!current_lender %>
  <%= link_to "My Borrows", borrows_path %>
  <%= link_to "My Items", items_path %>
  <%= link_to "My Recipients", recipients_path %>
<% end %>
