<div class="row">
  <div class="col text-center">
    <h1>Welcome to BorrowBuddy!</h1>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-5 col-12">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">Sign In</h1>
        <p class="card-text">Welcome back! Choose a sign in method below:</p>
        <a href="<%= new_lender_session_path %>" class="card-link">Lender Login with Borrow Buddy</a>
        <%= hide_omniauth_login %>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-12 text-center">
    <%= image_tag("bb-color.png", class: "img-fluid", alt: "Borrow Buddy Logo") %>
  </div>
  <div class="col-md-5 col-12">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">Register</h1>
        <p class="card-text">Welcome to the app! Choose a registration method below:</p>
        <a href="<%= new_lender_registration_path %>" class="card-link">Lender Signup with Borrow Buddy</a>
        <%= hide_omniauth_signup %>
      </div>
    </div>
  </div>
</div>
