<div class="row">
  <% @title = "Borrow Buddy | All Loans" %>
  <div class="col text-center">
    <h1>All Loans</h1>
  </div>
</div>

<div class="media row">
  <div class="media-body col offset-1">
    <p>View all loans you've logged in your app here. Click "Edit" or "Delete" to make changes to the item listed on the corresponding row. Click on the name of the item or borrower to view more information, including all loans made against the respective item or borrower in your app. Also use the links below to create a new loan, view only active loans, and view only returned loans.</p>
  </div>
  <%= image_tag("bb-color.png", size: "40x40", alt: "Borrow Buddy Logo", class: "col-1") %>
  <div class="col-1">
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <%= link_to 'Create New Loan', new_lender_loan_path(current_lender) %>
  </div>
  <div class="col-md-4 text-center">
    <%= link_to 'View Only Current Loans', lender_current_loans_path(current_lender) %>
  </div>
  <div class="col-md-4 text-center">
    <%= link_to 'View Only Returned Loans', lender_returned_loans_path(current_lender) %>
  </div>
</div>

<%= render "loans/index_partials/loans_index" %>
