<%= form_for([form_top_level, @borrow]) do |borrow_form| %>
  
  <div class="form-row">
    <% @title = "Borrow Buddy | New Borrow" %>
    <div class="form-group col-12">
      <h1 class="form-page-heading">New Borrow</h1>
    </div>
  </div>

  <%= render partial: "partials/form_errors", locals: { save_error: @borrow } %>

  <%= borrow_form.hidden_field(:recipient_id, :value => params[:recipient_id]) %>

  <div class="form-row">
    <div class="form-group col-12">
      <h1 class="form-body-heading">Set the Item</h1>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Select an Item from Your List</h2>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12">
        <%= borrow_form.label "Item Name:", for: "borrow_item_id" %>
        <%= borrow_form.collection_select :item_id, Item.abc_lender_scope(current_lender), :id, :name_with_category, { include_blank: "Select One" }, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h2 class="form-body-heading">Or Create a New Item</h2>
    </div>
  </div>

  <div class="form-section">
    <%= borrow_form.fields_for :item do |item_attributes| %>
      <div class="form-row">
        <div class="form-group col-11">
            <%= item_attributes.label "Item Name:", class: "offset-1" %>
            <%= item_attributes.text_field :name, { class: "form-control offset-1" } %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-11">
            <%= item_attributes.label "Item Category:", class: "offset-1" %>
            <%= item_attributes.text_field :category, { class: "form-control offset-1" } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <h1 class="form-body-heading">About this Loan</h1>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12 col-sm-6">
        <%= borrow_form.label "Number of Days Borrowed:" %>
        <%= borrow_form.number_field :days_borrowed, { class: "form-control" } %>
      </div>
      <div class="form-group col-12 col-sm-6">
        <%= borrow_form.label "Number of Reminders Sent:" %>
        <%= borrow_form.number_field :reminders_sent, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <%= borrow_form.label "Has the borrowed item been returned?" %>
        </div>
        <div class="form-check form-check-inline">
          <%= borrow_form.radio_button :returned, :true, { class: "form-check-input" } %>
          <%= borrow_form.label "Yes", { class: "form-check-label", for: "borrow_returned_true" } %>
        </div>
        <div class="form-check form-check-inline">
          <%= borrow_form.radio_button :returned, :false, { class: "form-check-input", checked: true } %>
          <%= borrow_form.label "No", { class: "form-check-label", for: "borrow_returned_false" } %>
        </div>
      </div>
    </div>
  </div>

  <%= borrow_form.submit %>
<% end %>
