<%= form_for ([current_lender, @item]) do |item_form| %>
  <%= render partial: "partials/form_errors", locals: { loan: @item } %>

  <div class="form-section">
    <div class="form-group row">
      <%= item_form.label "Name:", { class: "col-2 col-form-label" } %>
      <div class="col">
      <%= item_form.text_field :name, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= item_form.label "Category:", { class: "col-2 col-form-label" } %>
      <div class="col">
      <%= item_form.text_field :category, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <%= item_form.submit %><br><br>
<% end %>
