<div class="row">
  <% @title = "Borrow Buddy | All Items" %>
  <div class="col text-center">
    <h1>All Items</h1>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.category %></td>
        <td><%= link_to 'Show', lender_item_path(current_lender, item) %></td>
        <td><%= link_to 'Edit', edit_lender_item_path(current_lender, item) %></td>
        <td><%= link_to 'Destroy', lender_item_path(current_lender, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
