<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-4">Item</th>
        <th scope="col" class="col-3">Recipient</th>
        <th scope="col" class="col-1 text-center">Days Borrowed</th>
        <th scope="col" class="col-1 text-center">Reminders Sent</th>
        <th scope="col" class="col-1 text-center">Returned?</th>
        <th scope="col" class="col-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @borrows.each do |borrow| %>
        <tr class="row">
          <td class="col-4"><%= link_to borrow.item.name_with_category, lender_item_path(current_lender, borrow.item) %></td>
          <td class="col-3"><%= link_to borrow.recipient.name, lender_recipient_path(current_lender, borrow.recipient) %></td>
          <td class="col-1 text-center"><%= borrow.days_borrowed %></td>
          <td class="col-1 text-center"><%= borrow.reminders_sent %></td>
          <td class="col-1 text-center"><%= boolean_display(borrow.returned) %></td>
          <td class="col-1 text-right table-action-link"><%= link_to 'Edit', edit_lender_borrow_path(current_lender, borrow) %></td>
          <td class="col-1 text-right table-action-link"><%= link_to 'Destroy', lender_borrow_path(current_lender, borrow), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
