<%= form_for([current_lender, @borrow]) do |borrow_form| %>
  
  <%= render partial: "partials/form_errors", locals: { object: @borrow } %>

  <div class="form-group row">
    <h1 class="form-body-heading">Set the Borrower</h1>
  </div>

  <div class="form-group row">
    <h2 class="form-body-heading">Select a Borrower from Your List:</h2>
  </div>

  <div class="form-group row">
    <%= borrow_form.label "Borrower Name:", for: "borrow_recipient_id", class: "col-md-3" %>
    <%= borrow_form.collection_select :recipient_id, Recipient.form_collection(current_lender), :id, :name, { include_blank: "Select One" }, { class: "form-control col-md-9" } %>
  </div>

  <div class="form-group row">
    <h2 class="form-body-heading">Or Create a New Borrower</h2>
  </div>

  <div class="form-group row">
    <%= borrow_form.fields_for :recipient do |recipient_attributes| %>
      <%= recipient_attributes.label "Borrower Name:", class: "col-md-3 offset-md-1" %>
      <%= recipient_attributes.text_field :name, { class: "form-control col-md-8" } %>
      <%= recipient_attributes.label "Borrower Email:", class: "col-md-3 offset-md-1" %>
      <%= recipient_attributes.text_field :email, { class: "form-control col-md-8" } %>
      <%= recipient_attributes.label "Borrower Phone:", class: "col-md-3 offset-md-1" %>
      <%= recipient_attributes.text_field :phone, { class: "form-control col-md-8" } %>
    <% end %>
  </div>

  <div class="form-group row">
    <h1 class="form-body-heading">Set the Item</h1>
  </div>

  <div class="form-group row">
    <h2 class="form-body-heading">Select an Item from Your List:</h2>
  </div>

  <div class="form-group row">
    <%= borrow_form.label "Item Name:", for: "borrow_item_id", class: "col-md-3" %>
    <%= borrow_form.collection_select :item_id, Item.form_collection(current_lender), :id, :name_with_category, { include_blank: "Select One" }, { class: "form-control col-md-9" } %>
  </div>

  <div class="form-group row">
    <h2 class="form-body-heading">Or Create a New Item</h2>
  </div>

  <div class="form-group row">
    <%= borrow_form.fields_for :item do |item_attributes| %>
      <%= item_attributes.label "Item Name:", class: "col-md-3 offset-md-1" %>
      <%= item_attributes.text_field :name, { class: "form-control col-md-8" } %>
      <%= item_attributes.label "Item Category:", class: "col-md-3 offset-md-1" %>
      <%= item_attributes.text_field :category, { class: "form-control col-md-8" } %>
    <% end %>
  </div>

  <div class="form-group row">
    <h1 class="form-body-heading">About This Loan</h1>
  </div>

  <div class="row">
    <div class="form-group row col-12 col-sm-6">
      <%= borrow_form.label "Number of Days Borrowed:" %>
      <%= borrow_form.number_field :days_borrowed, { class: "form-control" } %>
    </div>
    <div class="form-group row col-12 col-sm-6">
      <%= borrow_form.label "Number of Reminders Sent:" %>
      <%= borrow_form.number_field :reminders_sent, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-check form-check-inline">
      <%= borrow_form.label "Has the borrowed item been returned?" %>
    </div>
    <div class="form-check form-check-inline">
      <%= borrow_form.radio_button :returned, :true, { class: "form-check-input" } %>
      <%= borrow_form.label "Yes", { class: "form-check-label", for: "borrow_returned_true" } %>
    </div>
    <div class="form-check form-check-inline">
      <%= borrow_form.radio_button :returned, :false, { class: "form-check-input", checked: true } %>
      <%= borrow_form.label "No", { class: "form-check-label", for: "borrow_returned_false" } %>
    </div>
  </div>

  <%= borrow_form.submit "Create Borrow", class: "btn submit-btn" %><br><br>
<% end %>
