<%= form_for([@recipient, @borrow]) do |borrow_form| %>
  <%= render partial: "partials/form_errors", locals: { object: @borrow } %>

  <%= borrow_form.hidden_field(:recipient_id, :value => params[:recipient_id]) %>

  <p>Select an Item from Your List:</p>
  <%= borrow_form.collection_select :item_id, Item.form_collection(current_lender), :id, :name_with_category, include_blank: 'Select One' %><br><br>

  <p>-Or-</p>
  
  <p>Create a New Item:</p>
  <%= borrow_form.fields_for :item do |item_attributes| %>
    <%= item_attributes.label "Item Name:" %>
    <%= item_attributes.text_field :name %><br>

    <%= item_attributes.label "Item Category:" %>
    <%= item_attributes.text_field :category %><br><br>
  <% end %>

  <p>About This Loan</p>
  <%= borrow_form.label "Number of Days Borrowed:" %>
  <%= borrow_form.number_field :days_borrowed %><br>

  <%= borrow_form.label "Number of Reminders Sent to the Borrower:" %>
  <%= borrow_form.number_field :reminders_sent %><br>

  <%= borrow_form.label "Has the borrowed item been returned?" %>
  <%= borrow_form.label "Yes" %>
  <%= borrow_form.radio_button :returned, :true %>
  <%= borrow_form.label "No" %>
  <%= borrow_form.radio_button :returned, :false, checked: true %><br><br>

  <%= borrow_form.submit %><br><br>
<% end %>
