<%= form_with(model: borrow, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { object: @borrow } %>

      <ul>
        <% borrow.errors.full_messages.each do |message| %>

  <div class="field">
    <%= form.label :lender_id %>
    <%= form.text_field :lender_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.text_field :recipient_id %>
  </div>

  <div class="field">
    <%= form.label :days_borrowed %>
    <%= form.number_field :days_borrowed %>
  </div>

  <div class="field">
    <%= form.label :reminders_sent %>
    <%= form.number_field :reminders_sent %>
  </div>

  <div class="field">
    <%= form.label :returned %>
    <%= form.check_box :returned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
