<p>
  <strong>Item:</strong>
  <%= @borrow.item.name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @borrow.recipient.name %>
</p>

<p>
  <strong>Days borrowed:</strong>
  <%= @borrow.days_borrowed %>
</p>

<p>
  <strong>Reminders sent:</strong>
  <%= @borrow.reminders_sent %>
</p>

<p>
  <strong>Item returned:</strong>
  <%= boolean_display(@borrow.returned) %>
</p>

<%= link_to 'Edit', edit_lender_borrow_path(current_lender, @borrow) %>
<%= link_to 'Back', lender_borrows_path(current_lender) %>
