<p>
  <strong>Item:</strong>
  <%= @borrow.item.name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @borrow.recipient.name %>
</p>

<p>
  <strong>Days borrowed:</strong>
  <%= @borrow.days_borrowed %>
</p>

<p>
  <strong>Reminders sent:</strong>
  <%= @borrow.reminders_sent %>
</p>

<p>
  <strong>Item returned:</strong>
  <%= boolean_display(@borrow.returned) %>
</p>

<%# ! Add yes or no helper method %>

<%= link_to 'Edit', edit_borrow_path(@borrow) %> |
<%= link_to 'Back', borrows_path %>
