<div class="row">
  <% @title = "Borrow Buddy | Borrow" %>
  <div class="col text-center">
    <h1>Borrow</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Item:</strong> <%= @borrow.item.name %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Recipient:</strong> <%= @borrow.recipient.name %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Days borrowed:</strong> <%= @borrow.days_borrowed %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Reminders sent:</strong> <%= @borrow.reminders_sent %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>Item returned:</strong> <%= boolean_display(@borrow.returned) %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_lender_borrow_path(current_lender, @borrow) %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Back', lender_borrows_path(current_lender) %><br>
  </div>
</div>
