<p>
  <strong>Email:</strong>
  <%= current_lender.email %>
</p>

<p>
  <strong>Google Login?:</strong>
  <%= current_lender.provider ? "Yes" : "No" %>
</p>

<br>

<%= link_to 'Edit', edit_lender_registration_path %>
<%= link_to 'Back', root_path %><br>

<%= link_to 'Home', root_path %>
